
		html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
			 padding: 0;
			 margin: 0;
			 font-size: 100%;
			 font-weight: normal;
			}
			table { border-collapse: collapse; border-spacing: 0; }
			td, th, caption { font-weight: normal; text-align: left; }
			img, fieldset { border: 0; }
			ol { padding-left: 1.4em; list-style: decimal; }
			ul { padding-left: 1.4em; list-style:square; }
			q:before, q:after { content:''; }

			@font-face {
				font: raleway-light;
				src: url(Raleway-light.otf);
			}
			@font-face {
				font: raleway-thin;
				src: url(Raleway-thin.otf);
			}

			#loader {
				height: 100%;
				width: 100%;
				overflow: hidden;
				background-color: black;
				position: fixed;
				z-index: 1000;
			}
			#loader img{
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 300px;
			}

			body {
				font-family: raleway-light;
			}
			h1 {
				font-size: 3.5em;
				color: white;
				text-align: center;
			}
			#home {
				background: url(../images/rebekah_wall1.jpg) no-repeat fixed;
				background-position: center;
				background-size: cover;
				height: 1000px;
			}

			#home h1{
				font-size: 7em;
				padding-top: 100px;
			}
			#home h3 {
				font-size: 3.5em;
				text-align: center;
				color: white;
				font-family: raleway-thin;
			}
			.player {
				position: fixed;
				top: 42px;
				opacity: 0.7;
				z-index: 1000;
			}
			#nav_contain {
				position: fixed;
				background-color: rgba(51,51,51,0.7);
				height: 42px;
				width: 100%;
				z-index: 1000;
			}
			.nav_wrapper{
				text-align: center;
				margin: 0 auto;
				height: 50px;
				padding-top: 15px;
			}
			#nav_contain li {
				display: inline;
				text-align: center;
				padding: 0 20px 0 20px;
			}
			#nav_contain li a{
				color: #999999;
				font-family: raleway-light;
				text-decoration: none;
			}
			#nav_contain li a:hover {
				color: white;
			}

			.listen {
				position: fixed;
				top: 10px;
				left: 30px;
				z-index: 1001;
			}
			.listen a {
				font-size: 1.5em;
				font-family: raleway-light;
				text-decoration: none;
				color: #999999;
			}
			.listen a:hover{
				color: white;
			}




			#album {
				background-color: #FFFFFF;
				position: relative;
				background-position: center;
				background-size: cover;
				height: 1000px;
				box-shadow: 0 0 50px rgba(0,0,0,1);
			}
			.album_wrapper {
				margin: 0 auto;
				padding-top: 50px;
			}
			.album_wrapper h1 {
				font-size: 4em;
				font-family: raleway-thin;
				color: black;
			}
			.img_box {
				margin: 0 auto;
				margin-top: 50px;
			}
			.img_box img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			.text_box {
				margin: 0 auto;
				margin-top: 50px;
				width: 700px;
				font-size: 1em;
			}
			.text_box p {
				font-family: raleway-thin;
				color: black;
			}
			.purchase_div {
				height: 100px;
				width: 70%;
				margin: 0 auto;
			}

			.purchase_div h3 {
				font-size: 2.5em;
				color: #990000;
				font-family: raleway-thin;
			}
			.purchase_div ul {
				margin-left: 10%;

			}
			.purchase_div ul li {
				float: left;
				display: inline;
				margin-right: 10%; 
			}
			.purchase_div ul li a {
				color: #777777;
				text-decoration: none;
				font-size: 1.25em;
			}
			.purchase_div ul li:hover a {
				color: #990000;
			}
			.purchase_div ul li a img {
				margin-left: 20px;
				-webkit-transition: -webkit-transform;
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 200ms;
			}
			.purchase_div ul li:hover img {
				-webkit-transform: rotate(15deg);
			}

			#about {
				background: url(../images/rebecca_bg.jpg) no-repeat fixed;
				background-position: center;
				background-size: cover;
				height: 5500px; 
				z-index: 0;
			}
			#about h1 {
				padding-top: 7%;
				font-size: 3.5em;
				color: #000000;
			}
			.gallery {
				position: absolute;
				top: 2300px;
				left: 0;
				height: 5200px;
				width: 100%;
				overflow: hidden;
				background-color: #FFFFFF;
				z-index: 91;
				box-shadow: 0 0 50px rgba(0,0,0,1);
				box-shadow: 0 0 -50px rgba(0,0,0,1);
			}
			.gallery img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			.slider {
				position: fixed;
				top: 100px;
				width: 6000px;
				height: 1000px;
				z-index: 100;
			}
			.slider img {
				display: block;
				float: left;
				height: 90%;
				margin-right: 5%;
			}
			#about_rebekah_fixed {
				border-radius: 5px;
				padding: 10px 40px 40px 40px;
				position: fixed;
				top:300px;
				left: 75px;
				z-index: 102;
				width: 20%;
				background-color: rgba(51,51,51,0.5);
			}
			#about_rebekah_fixed h2 {
				color: #cc3333;
				font-size: 2.25em;
			}
			#about_rebekah_fixed p {
				color: white;
				padding-top: 25px;
				font-size: 1em;
			}


			#contact {
				background: url(../images/album_bg_red.jpg) no-repeat fixed;
				background-position: center;
				background-size: cover;
				height: 2500px; 
				z-index: 93;
				box-shadow: 0 0 50px rgba(0,0,0,1);

			}
			#contact h1 {
				font-family: raleway-thin;
				padding-top: 4%;
			}
			.contact_wrapper {
				position: absolute;
				top: 7700px;
				height: 1050px; 
				width: 100%;
				background: #FFFFFF;
				z-index: 50;
			}
			.contact_info {
				width: 50%;
				height: 33%;
				padding-top: 100px;
				margin: 0 auto;
			}
			.contact_info li{
				list-style: none;
				display: inline;
				padding-bottom: 50px;
				float: left;
			}
			.contact_info h3 {
				font-size: 2.5em;

			}
			.contact_info a {
				font-size: 1.75em;
				text-decoration: none;
				color: #990000;
				padding: 20px 20px;
			}
			.contact_info a:hover {
				text-decoration: underline;
			}
			.contact_soc_media {
				width: 600px;
				height: 10%;
				margin: 0 auto;
			}
			.contact_soc_media li {
				display: inline;
				float: left;
				margin-left: auto;
				margin-right: auto;
			}
			.contact_soc_media ul {
				height: 100%;
				width: 600px;
				margin: 0 auto;
			}
			.contact_soc_media img {
				padding-top: 50px;
				padding-right: 100px;
				opacity: 0.6;
			}
			.contact_soc_media img:hover {
				opacity: 1.0;
			}

			#booking {
				background: url(../images/album_bg_red.jpg) no-repeat fixed;
				background-position: center;
				background-size: cover;
				height: 1000px; 
				z-index: 93;
				box-shadow: 0 0 50px rgba(0,0,0,1);
			}
			.tree {
				margin: 0 auto;
				padding-top: 80px;
				border: 1px solid black;
				width: 540px;
			}
			.roots_wrap {
				position: absolute;
				top: 8250px;
				z-index: 110;
				width: 100%;
			}
			.tree_wrap {
				width: 600px;
				height: 1070px;
			}
			.the_tree {
				position: absolute;
				top: 90px;
				left: 225px;
				z-index: 200;
			}
			.roots_center_wrap {
				position: absolute;
				top: 485px;
				left: 225px;
				width: 600px;
			}
			.roots_center {
				display: block;
				margin-left: auto;
				margin-right: auto;
				z-index: 0;
			}
			.roots_side_wrap {
				position: absolute;
				top: 485px;
				left: 225px;
				width: 600px;
			}
			.roots_side {
				display: block;
				margin-left: auto;
				margin-right: auto;
				z-index: 0;
			}